<div>
	<div class='divider'></div>
	<div id='theme' class='section'>
		<div class='row center-align'>
			<h3>Main Theme</h3>
			<div class="col s12 m10 offset-m1 center-align">
	          <theme theme='theme'></theme>
	        </div>
		</div>
	</div>
	<div id='criteria' class='row center-align'>
		<h3>Criterias</h3>
		<div ng-repeat='criteria in criterias'>
			<criteria criteria='criteria.data'>{{criteria.collection | uppercase}} - {{criteria.data.groupName}}</criteria>
		</div>
	</div>
	<div class='row center-align'>
		<button class='btn' ui-sref='random.create'>Confirm Match</button>
	</div>
</div>